.icon-box {
  display: flex;
  gap: var(--gap-size);
  margin-top: var(--gap-size);
  margin-right: var(--gap-size);
  align-items: flex-end;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button svg {
  fill: #705f4b;
}

.button {
  margin-top: var(--gap-size);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--gap-size) var(--gap-size);
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  background-color: #bbada0;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button.dark {
  color: #333030;
}
