:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #04204b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-width: 430px; disable for responsive*/
  min-height: 100vh;
  background-color: #262633;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

.game-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  padding: var(--gap-size);
  font-family: sans-serif;
  border-radius: 15px;
}

.game-container.dark {
  background-color: #333;
}

.game-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card.dark {
  background-color: #4e4c4c;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.right-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-header.dark {
  color: #86837e;
}

.title-box {
  font-size: 40px;
  font-weight: bold;
  background-color: #edc22e;
  color: #f9f6f2;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.title-box.dark {
  color: #333030;
}

.score-box {
  display: flex;
  gap: var(--gap-size);
}
.score-container {
  background-color: #bbada0;
  padding: var(--gap-size) var(--gap-size);
  border-radius: 15px;
  text-align: center;
  width: 100px;
}

.score-title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.score-title.dark {
  color: #333030;
}
.score-value {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.score-value.dark {
  color: #333030;
}

.score-thing {
  font-size: 20px;
  font-weight: semibold;
  color: #180d80 !important;
  margin-bottom: 16px;
}
